{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
    <link
      rel="shortcut icon"
      href="{% static 'global/images/logo.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{% static 'global/styles/login/style.css' %}"
    />
  </head>
  <style>.card-container .left-side {
    img {
        width: 100%;
        height: 101%;
    }
}</style>
  <body>
    <div class="main-body-container">
      <div class="sub-body-container">
        <div class="card-container">
          <div class="right-side" style="">
            <div
              class="register-form"
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <h3>Sign In</h3>
              <form action="" method="post">
                {% csrf_token %}

                {% if messages %}
                <div class="input-group" style="display: flex;justify-content: center;align-items:center;background-color:#ff9090;border:none">
                        <div class="alert alert-info">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if messages %}
                <div class="input-group" style="display: flex;justify-content: center;align-items:center;background-color:#ff9090;border:none">
                        <div class="alert alert-info">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="input-group">
                  <img
                    src="{% static 'global/images/icons/email.svg' %}"
                    alt=""
                  />
                  <input type="email" name="email" id="name" placeholder="Enter Email" autofocus autocomplete="off" required />
                </div>
                <div class="input-group">
                  <img
                    src="{% static 'global/images/icons/pass-new.svg' %}"
                    alt=""
                  />
                  <input type="password" name="password" id="password"   required placeholder="Enter Password" />
                </div>

                <div class="input-terms">
                  <input type="checkbox" name="" id="term" />
                  <label for="term">Remenber Me</label>
                </div>
                <div class="form-button">
                  <button type="submit">Login</button>
                </div>
                <div class="input-terms">
                  <p for="">
                    Don’t have an account?
                    <a href="{% url "userRegister" %}" style="text-decoration: none"
                      ><span style="color: #008bd9">Create One</span></a
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>

          <div class="left-side">
            <img
              src="{% static 'global/images/authentication/login-person.svg' %}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
