{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
    <link
      rel="shortcut icon"
      href="{% static 'global/images/logo.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{% static 'global/styles/login/style.css' %}"
    />
  </head>
  <body>
    <div class="main-body-container">
      <div class="sub-body-container">
        <div class="card-container">
          <div class="left-side">
            <img
              src="{% static 'global/images/authentication/register-person.svg' %}"
              alt=""
            />
          </div>
          <div class="right-side">
            <div class="register-form">
              <h3>Sign Up</h3>
              <form action="" method="post">
                {% csrf_token %}
                {% if messages %}
                <div class="input-group" style="display: flex;justify-content: center;align-items:center;background-color:#ff9090;border:none">
                        <div class="alert alert-info">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="input-group">
                  <img
                    src="{% static 'global/images/icons/first-name.svg' %}"
                    alt=""
                  />
                  <label for="first_name"></label>
                  <input type="text" name="first_name" id="first_name" placeholder="Enter First Name" autofocus required />
                </div>

                <div class="input-group">
                  <img
                    src="{% static 'global/images/icons/last-name.svg' %}"
                    alt=""
                  />
                  <label for="last_name"></label>
                  <input type="text" name="last_name" id="last_name" placeholder="Enter Last Name" required/>
                </div>
                <div class="input-group">
                  <img
                    src="{% static 'global/images/icons/email.svg' %}"
                    alt=""
                  />
                  <label for="email"></label>
                  <input type="email" name="email" id="email"  placeholder="Enter Email" required/>
                </div>
                <div class="input-group">
                  <img
                    src="{% static 'global/images/icons/pass-new.svg' %}"
                    alt=""
                  />
                  <label for="new_pass"></label>
                  <input type="password" name="new_pass" id="new_pass" placeholder="Enter Password" required/>
                </div>
                <div class="input-group">
                  <img
                    src="{% static 'global/images/icons/pass-con.svg' %}"
                    alt=""
                  />
                  <label for="conf_pass"></label>
                  <input type="password" name="conf_pass" id="conf_pass" placeholder="Conform Password" required/>
                </div>
                <div class="input-terms">
                  <input type="checkbox" name="" id="term" required/>
                  <label for="term">I agree to all terms</label>
                </div>
                <div class="form-button">
                  <button type="submit">Register</button>
                </div>
                <div class="input-terms">
                  <p for="">
                    Already have an account?
                    <a href="{% url "userLogin" %}" style="text-decoration: none"
                      ><span style="color: #008bd9">Sign In</span></a
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
